.journal
.mainlock
.wlock
.ts
.dss-meta
.git
*.pyc
.coverage
.htmlcov
.DS_Store
.idea
venv
.venv*
__pycache__/
python-lib/.venv*
.env
state.json
**/local_config.json
.python-version

.vscode/*
!.vscode/launch.json.example
!.vscode/settings.json.example
!.vscode/tasks.json
tests/api_tests/features/*.feature
tests/api_tests/features/*.json
tests/api_tests/test_config.local.ini
tests-out

debug/
dist/*
*.python-version
.ruff_cache/
.mypy_cache/
.pytest_cache/
allure_report/
env/
junit
coverage.xml
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/